# Doručování kontaktního formuláře přes Resend (https://resend.com)
# Bez těchto hodnot formulář automaticky nabídne připravený e-mail.
RESEND_API_KEY=re_xxxxxxxxx
CONTACT_FROM=Jakub Digital <web@jakubdigital.cz>
CONTACT_TO=jakub@jakubdigital.cz
